<!--WRAPPER-->
<div id="container-instructions">

    <!--LOGIN FORM-->
    <div name="login-form" class="login-form">
        <!--HEADER-->
        <div class="header">
        <!--TITLE--><h1><font color="red">ERROR: SORRY!</h1><!--END TITLE-->
        <!--DESCRIPTION--><span></span><!-- END DESCRIPTION-->
        </div>
        <!--END HEADER-->
        <div class="content">
        	<p>You did not answer all comprehension questions correctly. Press <b>continue</b> to review the instructions again.</p>
	    </div>
        <!--FOOTER-->
        <div class="footer">
        <!-- BUTTONS-->
            <button type="button" class="btn btn-danger btn-lg continue" name="continue" value="Continue">continue</button>
        </div>
        <!--END FOOTER-->
    </div> <!--END LOGIN FORM-->
</div>
<!-- END WRAPPER -->
