<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
          Each hive is home to a single variety of bees, and
          these varieties have different features which can allow you
          to tell them apart and tell which will be dangerous.
        </p>

        <p>
          The bee varieties differ in four ways.
        </p>
        <p>
          <strong>They can have 2 or 6 legs </strong>,
        </p>
        <img src="static/images/instrlegs.png" style="margin-left:auto; margin-right:auto; display:block" width="600" style="border: 0px;">
        <p>
          <strong>single or double wings</strong>,
        </p>
        <img src="static/images/instrwings.png" style="margin-left:auto; margin-right:auto; display:block" width="600" style="border: 0px;">
        <p>
          <strong>stripes or dots on their body</strong>,
        </p>
        <img src="static/images/instrstripes.png" style="margin-left:auto; margin-right:auto; display:block" width="600" style="border: 0px;">
        <p>
          <strong>and antennae or no antennae</strong>.
        </p>
        <img src="static/images/instrantennae.png" style="margin-left:auto; margin-right:auto; display:block" width="600" style="border: 0px;">

        <p>
          It's possible to learn to predict perfectly which bees are
          friendly and which are dangerous using these four features,
          so that you can harvest from bees that will give you honey
          while avoiding bees that would sting you.
        </p>

    </div>

    <hr />

    <div class="instructionsnav">
      <div class="row">
        <div class="col-xs-2">
          <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
            <span class="glyphicon glyphicon-arrow-left"></span> Previous
          </button>
        </div>
        <div class="col-xs-8">
        </div>
        <div class="col-xs-2">
          <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
            Next <span class="glyphicon glyphicon-arrow-right"></span>
          </button>
        </div>
      </div>
    </div>

</div>
