<div id="container-instructions">

  <h1>Instructions</h1>

  <hr>

  <div class="instructions well">


    <p>
      In this experiment, you will play a simple video game in which you take the role of a beekeeper collecting honey.
    </p>

    <p>
      Most of your beehives have friendly bees, which will allow you
      to collect honey. Unfortunately, some of your colonies
      have been infiltrated by dangerous bees, which will sting
      you if you approach them. Your job is to <strong>collect as much
      honey as possible from friendly bees</strong>, while learning
      to <strong>avoid dangerous bees</strong> so you aren't stung.
    </p>
    
  </div>

  <hr>


  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
        <!-- no previous button on first screen -->
      </div>
      <div class="col-xs-8">
      </div>
      <div class="col-xs-2">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
          Next <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>

</div>
