<div id="container-exp" >
    <p id="pageheader">Accept this job application?</p>
    <div id="stage">
        <div id="application">
            <p id="title" ></p>
            <div id="dimensions" >
                <div class="dim" id="dim0" >
                    <p class="dimlab" id="dimlab0">Degree<span class="separator">:</span></p>
                    <p class="dimval" id="dimval0"></p>
                </div>
                <div class="dim" id="dim1" >
                    <p class="dimlab" id="dimlab1">Past Employer<span class="separator">:</span></p>
                    <p class="dimval" id="dimval1"></p>
                </div>
                <div class="dim" id="dim2" >
                    <p class="dimlab" id="dimlab2">Past Position<span class="separator">:</span></p>
                    <p class="dimval" id="dimval2"></p>
                </div>
                <div class="dim" id="dim3" >
                    <p class="dimlab" id="dimlab3">Skill</p>
                    <p class="dimval" id="dimval3"></p>
                </div>
            </div>
            <div id="indivval">
                <div id="indivlabel"></div>
                <img id="indivimg" width="60px" height="60px">
            </div>
        </div>
        <div id="hud" >
            <div id="trials" >
                <p>Applicants Remaining:</p>
                <p id="trialsnumber" ></p>
            </div>
            <div id="bonus">
                <p>Total Revenue (Thousands):</p>
                <p id="bonusnumber"></p>
            </div>
            <div id="feedback" >
                <p id="feedbackmessage" ></p>
                <p id="feedbackval"></p>
            </div>
        </div>
    </div>

    <p id="info"></p>
    <div id="response-buttons">
        <button type="button" id="accept" class="btn btn-primary btn-lg choice" name="accept">
            Accept
        </button>
        <button type="button" id="reject" class="btn btn-primary btn-lg choice" name="reject">
            Reject
        </button>
    </div>
</div>
