<div id="container-instructions">

    <h1>Final applicant batch</h1>

    <hr />

    <div class="instructions well">
        <p>
            You will now evaluate a final batch of applicants. Unlike before,
            you will have to make your decisions about whether to accept or
            reject all of the applicants before finding out which were suitable
            and which were unsuitable, and how your company's revenue has been
            affected.
        </p>
        <p>
            Just as before, accepting a suitable applicant will <strong>increase revenue
            by 1 thousand dollars</strong>, and accepting an unsuitable applicant will
            <strong>decrease revenue by 3 thousand dollars</strong>. <strong>Your goal is still to
            finish the experiment with high revenue</strong>. However, you will not be able to
            view changes in revenue or your company's total revenue until
            the end of this final batch. There have been <strong>no changes in
            the attributes that indicate a suitable or unsuitable
            applicant</strong>.
        </p>

        <img src="/static/images/instr_outcomes_test.png" style="margin-left:auto; margin-right:auto; display:block" width="800" style="border: 0px;">

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	  <!--  Maybe not previous button on this screen? -->
            	  <!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	  -->
            </div>
            <div class="col-xs-8">
            	  <center>
	                  <button type="button" id="continue" value="continue" class="btn btn-success btn-lg continue">
	                      Continue <span class="glyphicon glyphicon-arrow-right"></span>
	                  </button>
	              </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
